head,
body {
  font-family: sans-serif, serif;
  color: rgb(253, 249, 249);
  background-image: url(../images/background-website.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

h1 {
  text-align: center;
  margin-top: 75px;
}

p {
  text-align: left;
  margin-top: 25px;
  border: 1px solid white;
  border-radius: 15px;
  border-color: rgba(15, 24, 108, 0.519);
  background-color: rgba(15, 24, 108, 0.519);
  border-width: 10%;
  border-style: wrap;
  border-left: 10px;
  border-right: 10px;
  margin-left: 20%;
  margin-right: 20%;
  padding: 10px;
}

a {
  color: white;
}

a:hover {
  color: white;
}

a:active {
  color: white;
}

nav {
  position: sticky;
  overflow: hidden;
  list-style-type: none;
  border-radius: 15px;
  padding: 0;
  display: flex;
  border-radius: 15px;
  list-style-type: none;
  margin: 0;
  display: flex;
  justify-content: center;
  margin: 10 auto;
  border: 1px solid rgba(15, 24, 108, 0.519);
  background-color: rgba(15, 24, 108, 0.519);
  position: fixed;
  top: 0;
  width: 100%;
}

nav {
  float: left;
  border-right: 1px solid #bbbbbb;
}

nav a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  border-radius: 15px;
  flex: 1;
  border-right: 1px solid #bbbbbb;
}

nav a:hover {
  background-color: purple;
}

nav a.active {
  background-color: purple;
}

nav:last-child {
  border-right: none;
}

.table {
  border-radius: 10px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 90px;
}

td {
  padding: 10px;
  background-color: rgba(15, 24, 108, 0.519);
  border-bottom: 1px solid white;
}

th {
  padding: 10px;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  background-color: rgba(15, 24, 108, 0.519);
}
  .w3-light-grey {
    background-color: white;
    border-radius: 15px;
    border-width: 10%;
  }
  .w3-container w3-green #myBar{
    height:24px;width:1%" 
  }
  .w3-green {
    background-color: green;
    border-radius: 15px;
  }
  .w3-center {
    text-align: center;
  }